#controls a {
    text-decoration: none;
    margin: 8px 10px;
    color: black;
    width: 15px;
}

#controls {
    padding: 0px;
    background: #eee;
    margin: 0 !important;
    display: block !important;
    float: left;
}

#animation {
    position: relative;
}

#countMarkers {
    padding: 8px;
    margin: 0 !important;
    float: left;
}

.countMarker {
    width: 20px;
    height: 20px;
    background: #ddd;
    float: left;
    text-align: center;
    margin-left: 1px;
    color: #888;
}

.countMarker.completed {
    color: white;
    background: #4b9b4b;
}

.countMarker.active {
    color: white;
    background: #4b9b4b;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

.countMarker p {
    margin: 0;
    vertical-align: middle;
    line-height: 20px;
    font-size: 11px;
}

/*
@-webkit-keyframes pulsate {
    0% {background: #badeba;}
    50% {background: #eee;}
    100% {background: #badeba;}
}
*/

@-webkit-keyframes pulsate {
    0% {color: #4b9b4b;}
    50% {color: #fff;}
    100% {color: #4b9b4b;}
}

#menuBar {
    overflow: auto;
    background: #eee;
    padding: 10px;
}

#theline {
    top: 193px !important;
}

#thepost {
    top: 20px !important;
}